/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --content-title-color: #353430;
  --title-decor-color: #353430;
  --titul-color: #ffc2e6;
  --button-text-color: #353430;
  --hover-color: rgb(50 49 45 / 40%);
  --background-image: url(../images/cover-image-light.png);
  --visible-decor: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --content-title-color: #353430;
    --title-decor-color: #353430;
    --titul-color: #ffc2e6;
    --button-text-color: #353430;
    --hover-color: rgb(50 49 45 / 40%);
    --background-image: url(../images/cover-image-light.png);
    --visible-decor: none;
  }
}
