:root {
  --main-font: "IBM Plex mono";
  --main-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --content-title-color: #ff0070;
  --title-decor-color: #000028;
  --titul-color: #db00ff;
  --button-text-color: #ff0070;
  --hover-color: rgb(255 0 112 / 40%);
  --background-image: url(../images/cover-image-dark.png);
  --visible-decor: block;
  --min-height-page: 668px;
  --page-padding: 10px;
  --menu-margin-top: 36px;
  --menu-row: 2;
  --menu-column: 3;
  --menu-flex-direction: column;
  --menu-justify: end;
  --titul-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-title-margin-top: 66px;
  --header-title-margin-left: 0px;
  --header-text-margin-top: 54px;
  --margin-block: 40px;
  --content-padding-to: 25px;
  --content-title-top: 15px;
  --content-ar-top: 20px;
  --grid-gap: 0px;
  --grid-title-width: 355px;
  --grid-title: 1/4;
  --grid-article: 1/4;
  --ver-article-left: 0px;
  --quation-title: 1/4;
  --quation-article: 1/4;
  --quation-margin-top: 35px;
  --quation-margin-bot: 50px;
  --quation-gap: 0px;
  --quation-title-ght: 0%;
  --picture-top: 50px;
  --gallery_gap: 10px;
  --gallery-columns: 1fr;
  --gallery-rows: auto;
  --image-block-size: initial;
  --image-max-block-size: initial;
  --image-object-fit: initial;
  --img-colum-1: 1/4;
  --img-row-1: 1;
  --img-colum-2: 1/4;
  --img-row-2: 2;
  --img-colum-3: 1/4;
  --img-row-3: 3;
  --img-colum-4: 1/4;
  --img-row-4: 4;
  --img-colum-5: 1/4;
  --img-row-5: 5;
  --footer-title-top: 17.5rem;
  --footer-title-bot: 17rem;
}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
    --menu-margin-top: 14vh;
    --titul-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --header-title-margin-top: 17.1vh;
    --header-title-margin-left: -20px;
    --header-text-margin-top: 8.75vh;
    --margin-block: 60px;
    --content-padding-to: 45px;
    --content-title-top: 0px;
    --content-ar-top: 0px;
    --grid-gap: 20px;
    --grid-title-width: 236px;
    --grid-title: 1;
    --grid-article: 2/4;
    --grid-article-left: 7px;
    --quation-title-ght: 70%;
    --quation-margin-top: 80px;
    --quation-gap: 20px;
    --quation-margin-bot: 80px;
    --picture-top: 80px;
    --gallery_gap: 20px;
    --gallery-columns: 1fr 1fr 1fr;
    --gallery-rows: min-content min-content min-content;
    --image-block-size: 100%;
    --image-max-block-size: 100%;
    --image-object-fit: cover;
    --img-colum-1: 1/3;
    --img-row-1: 1;
    --img-colum-2: 3/4;
    --img-row-2: 1/3;
    --img-colum-3: 1;
    --img-row-3: 2/4;
    --img-colum-4: 2;
    --img-row-4: 2;
    --img-colum-5: 2/4;
    --img-row-5: 3/4;
    --footer-title-top: 28rem;
    --footer-title-bot: 27.5rem;
  }
}
@media (width >= 1024px) {
  :root {
    --menu-row: 1;
    --menu-column: 2;
    --menu-flex-direction: rows;
    --menu-margin-top: 20px;
    --menu-justify: center;
    --header-gap: 89px;
    --header-title-margin-top: 37.5vh;
    --header-text-margin-top: 16.79vh;
    --grid-title-width: 315px;
    --quation-article: auto;
    --grid-article-left: 0px;
    --footer-title-top: 20rem;
    --footer-title-bot: 19.5rem;
  }
}
